@import "tailwindcss";

@theme {
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	/* Blue A 503 as primary, Red A 805 as secondary, White A 665 as background */
	--color-primary: #0044ff; /* Blue A 503 */
	--color-secondary: #ff3b30; /* Red A 805 */
	--color-background: #f9f9f9; /* Light shade close to White A 665 */
	--color-foreground: #ffffff; /* Pure white */
	--color-foreground-secondary: #f0f0f0;
	--color-text-primary: #333333;
	--color-text-secondary: #666666;
	--color-border: #e0e0e0;
	--color-input-background: #ffffff;
	--color-button-primary: var(--color-primary);
	--color-button-secondary: #eaeaea;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html,
body {
	@apply bg-background text-text-primary;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}
